<div class="jumbotron text-center">
  <h1>Lets find what you are looking for:</h1><br> 
  <form class="form-inline">
    <div class="input-group">
      <input type="text" class="form-control" size="50" placeholder="Search from 50M+ Photos...." required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Go!</button>
      </div>
    </div>
  </form>
</div>

      


<div class="container-fluid text-center">
  <h1>SERVICES</h1>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span style="color:grey;font-size:50px" class="glyphicon glyphicon-heart"></span>
       <h4>Browse from amazing pictures</h4>
    </div>
     <div class="col-sm-4">
      <span style="color:grey;font-size:50px" class="glyphicon glyphicon-lock"></span>
      <h4>Purchase Photos Through Secure payment</h4>
     </div>
    <div class="col-sm-4">
      <span style="color:grey;font-size:50px" class="glyphicon glyphicon-wrench"></span>
      <h4>Have The Photos Sent To You Directly! </h4>
    </div>
  </div>
 </div>
 